<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta charset="utf-8">
		<title>{{.Title}} | {{.Page.Title}}</title>
		<link rel="stylesheet" href="/css/base.css" type="text/css">
	</head>
	<body>
		<div class="page-container">
			<div class="page-header">
				<div class="page-header-right">
					<h1>{{.Page.Title}}</h1>
				</div>
				<div class="page-header-left">
					<div class="page-menu">
						<ol>
							<li><a href="/" title="Home">Home</a></li>
							<li><a href="/dashboard/" title="Dashboard">Dashboard</a></li>
						</ol>
					</div>
				</div>
			</div>
			<div class="page-content">
				<div class="page-submenu">
					<ol>
						<li><a href="/control/" title="Control">Control</a></li>
						<li><a href="/control/users/" title="Users">Users</a></li>
						<li>
							<ol>
								<li><a href="/control/users/add/" title="Add a New User">Add a New User</a></li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="page-main">
					<h2>{{.Title}}</h2>
					<form name="add_user" method="post" action="/api/v1/web/control/users/add/">
						<p>
							<label for="username">Username</label>
							<br>
							<input type="text" name="username">
						</p>
						<input type="hidden" name="tenet" value="{{.Page.Tenet}}">
						<input type="submit" value="Add">
					</form>
					<div class="page-footer">
						<p>Copyright 2024 Actes.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
